@import './reset.scss';

html,
body {
    height: 100%;
}

/* markdown 高亮 */
.hljs-name {
    color: #22863a;
}

.hljs-attr {
    color: #6f42c1;
}

.hljs-keyword {
    color: red;
}

.hljs-string {
    color: #032f62;
}